body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  DM Sans;
}

header h1, header h2, header h3, header h3, header h4, header h5, header h6{
  font-family: Playfair Display;
} 


:root{
  --primary-color: #AD343E;
  --secondary-color: #DBDFD0;
  --primary-dark: #474958;
  --primary-grey: 
  #f3f3f0;
  --primary-light: #F8F8FA;

}